.carrito-lista{
	background-color: #242424;
	width: 100%;
    height: 100%;
	overflow-y: auto;
}

.carrito-item{
	background-color: #242424;
	width: 100%;
    height: fit-content;
	padding: 10px;
	border-top: solid 1px;
}

.carrito-item-img{
	height: auto;
	width: 100px;
}

.carrito-item-titulo{

}

.carrito-item-precio{

}